$dark-color: #000;
$theme-neutral-color: #fff;
$body-bg: #eaeef3;
$text-color: #3a3b3c;
$subtitle-color: #343434;
$nav-text-color: #5a5a5a;
$sub-nav-text-color: #646464;
$border-color: #d0d4d9;
$border-color2: #bcbfc4;
$theme-color: #25285b;
$theme-secondary-color: #cb1d38;
$theme-primary-color: #27ae60;
$label-color: #4f4f4f;
$select-arrow-color: #b2b5ba;
$tree-text-color: #3b3b3b;
$warning-color: #e74c3c;
$filter-color: #4e72be;
$pagination-text-color: #808080;
