
$sanspro: 'SourceSansPro', sans-serif;


//PX to REM
$px3: 0.1875rem;
$px4: 0.25rem;
$px5: 0.3125rem;
$px6: 0.375rem;
$px7: 0.4375rem;
$px8: 0.5rem;
$px9: 0.5625rem;
$px10: 0.625rem;
$px11: 0.6875rem;
$px12: 0.75rem;
$px13: 0.8125rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px17: 1.0625rem;
$px18: 1.125rem;
$px19: 1.1875rem;
$px20: 1.25rem;
$px21: 1.3125rem;
$px22: 1.375rem;
$px23: 1.4375rem;
$px24: 1.5rem;
$px25: 1.5625rem;
$px26: 1.625rem;
$px27: 1.6875rem;
$px28: 1.75rem;
$px29: 1.8125rem;
$px30: 1.875rem;
$px33: 2.0625rem;
$px34: 2.125rem;
$px35: 2.1875rem;
$px36: 2.25rem;
$px40: 2.5rem;
$px45: 2.8125rem;
$px50: 3.125rem;
$px55: 3.4375rem;
$px85: 5.3125rem;
$px100: 6.25rem;


$top-header-height: 2rem;

$input-width: 20rem;
$item-height: 2.3125rem;
$header-sm-height: 3.125rem;
$sidebar-width: 13.4375rem;
$label-width: 14.125rem;
$filter-width: 16.25rem;
$container-heading: 4.6875rem;
